@import "variables.less";

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #333;
}

main {
    padding: 50px 20px;
    
    .control-hint {
        display: block;
        width: 600px;
        margin: 5px auto;
        color: @darkGray;
        font-size: 10px;
        font-style: italic;
    }
}

#game {
    display: block;
    
    canvas {
        margin: 0 auto;
    }
}