<section id="hudContainer">
    <div id="chatContainer">
        <ul class="chat-history" scroll-chat-bottom="hudCtrl.messages">
            <li class="chat-message" ng-repeat="message in hudCtrl.messages">
                <span class="player-name" ng-if="message.playerName">{{::message.playerName}}: </span>
                <span class="message-text"> {{::message.text}}</span>
            </li>
        </ul>
        <form name="chatForm" ng-submit="hudCtrl.sendChatMessage()">
            <input type="text"
                   class="chat-input"
                   placeholder="Click here (or press enter) to type"
                   ng-model="hudCtrl.message"
                   focus-chat-input />
        </form>
    </div>
</section>